extends ../common/layout
    
block title
  | Blog Posts | #{title}

// Template styles
block styles    
  //- Add custom template styles within this block
  
block content
  
  h2 #{title}
  
  :markdown
    # Markdown

    I often like including markdown documents. 