extends ../common/master

block title
  title Posts

block content
  ul
    for post in locals.posts
      li
        - var link = '/posts/' + post.title.toLowerCase().replace(/\s+/g, '-')
        a(href="#{link}") #{post.title}
